<div class="container">
    <button class="btn"  routerLink="/slider" mat-raised-button color="primary">Range</button>
    <button class="btnn"  routerLink="/associate" mat-raised-button color="accent">Form array</button>
    <div class="box">
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/1875480/pexels-photo-1875480.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/267559/pexels-photo-267559.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/3214995/pexels-photo-3214995.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/267559/pexels-photo-267559.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/2994173/pexels-photo-2994173.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/358220/pexels-photo-358220.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/3214995/pexels-photo-3214995.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/1875480/pexels-photo-1875480.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
        <mat-card class="card-class">
            <mat-card-header>
                <mat-card-title>Saint Barns code camp</mat-card-title>
                <mat-card-subtitle>barnsdooga@gmail.com</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-xl-image  src="https://images.pexels.com/photos/3214995/pexels-photo-3214995.jpeg?auto=compress&cs=tinysrgb&w=600" alt="connect internet to vie water falls">
            <mat-card-content>
                <p> mat button toggle are on/off
                    toggles with the appearance of a button.
                    These toggles can be configured to behave as either radio-buttons or checkboxes.
                    While they can be standalone, they are typically part of a mat-button-toggle-group.
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>thumb_up</mat-icon>like</button>
                <button mat-button><mat-icon>share</mat-icon>share</button>
            </mat-card-actions>
            <mat-card-footer >favor in need &copy; 2023</mat-card-footer>
        </mat-card>
    </div>
</div>