<table *ngIf="products$ | async as products">
    <ng-container *ngFor="let product of products">
        <th>id</th>
        <td>{{product.name}}</td>
    </ng-container>
    <ng-container>
        <th>img</th>
        <td></td>
    </ng-container>
    <ng-container>
        <th>price</th>
        <td></td>
    </ng-container>
    <ng-container>
        <th>title</th>
        <td></td>
    </ng-container>
    <ng-container>
        <th>name</th>
        <td></td>
    </ng-container>
    <ng-container>
        <th>description</th>
        <td></td>
    </ng-container>

    <tr>hh</tr>
    <tr>jjk</tr>
</table>