<h2>angular material input</h2>

<form action="">
    <mat-form-field>
        <mat-label>good</mat-label>
        <input type="text" matInput>
    </mat-form-field>
</form>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">

    </mat-form-field>
    <mat-form-field> <mat-select>okdd
            <option value="">dred</option>
        </mat-select></mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>